<ol>
    <li>
        Define formulas.
    </li>
    <li>
        Implementation at Js.
    </li>
    <li>
        Creating functions.
    </li>
    <li>
        Integrating Js with Html.
    </li>
    <li>
        Integrating Styles with CSS.
    </li>
    <li>
        Improving general desing and adding responsive design.
    </li>
</ol>
