<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b34b5dcd74.js" crossorigin="anonymous"></script>
    <title>Practice Project #1</title>
</head>
<header>
    <h1>
        <a href="/"><span class="span">WELCOME</span></a> I'M CARLOS AND I WANT TO INTRODUCE YOU MY FIRST
        COMPLETE PROJECT
    </h1>
</header>

<body>
    <div class="container">
        <ul class="workshops">
            <h2> Here records this project | path #1 JavaScript</h2>
            <li class="tittle">
                <div class="margin1">
                    Workshop Nroº 1 <a href="/Geometrical-figures" class="a1 a"><i class="fa fa-thin fa-chevron-right"></i>
                        Geometric Figures</a>
                </div>
            </li>
            <li class="tittle">
                <div class="margin1">
                    Workshop Nroº 2 <a href="/Discount-price" class="a1 a"><i class="fa fa-thin fa-chevron-right"></i>
                        Price and Discounts</a>
                </div>
            </li>
            <li class="tittle">
                <div class="margin1">
                    Workshop Nroº 3
                    <span class="margin">
                        <a href="/Mean" class="a1 a2 a">
                            <i class="fa fa-thin fa-chevron-right"></i> Mean</a>
                        <a href="/Armonic-mean" class="a1 a2 a font">
                            <i class="fa fa-thin fa-chevron-right"></i> Armonic Mean</style></a>
                        <a href="/Median" class="a1 a2 a">
                            <i class="fa fa-thin fa-chevron-right"></i> Median</a>
                        <a href="/Moda" class="a1 a2 a">
                            <i class="fa fa-thin fa-chevron-right"></i>
                            Mode</a>
                    </span>
                </div>
            </li>
            <li class="tittle">
                <div class="margin1">
                    Workshop Nroº 4 <a href="/Salaries" class="a1 a"><i class="fa fa-thin fa-chevron-right"></i>
                        Analisis of Salaries</a>
                </div>
            </li>
            <li class="tittle">
                <div class="margin1">
                    Final Project <a href="/Savings" class="a1 a"><i class="fa fa fa-thin fa-chevron-right"></i> Save
                        Capacity</a>
                </div>
            </li>
        </ul>
        <ul class="steps">
            {{>steps}}
        </ul>
        </ul>
    </div>
    <hr>
    <footer>All Rights Reserved in 2022. Author Carlos Uzcategui</footer>
</body>

</html>