html{
    scroll-behavior: smooth;
}
body {
    background: #fff;
    font-family: 'Oswald', sans-serif;
}
footer {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    padding: 2em 0;
}
h1 {
    font-size: 2.5em;
    color: #003f91;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-weight: bolder;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: #003f91;
    font-size: 1.5em;
}

span {
    padding: 0 15px;
    text-transform: capitalize;
    text-align: justify;
    margin-top: 10px;
}

button {
    color: #5da9e9;
    transition: 0.25s;
}

button:hover {
    background-color: #fff;
    color: #f38f00;
}

button {
    text-transform: uppercase;
    font-weight: bolder;
    justify-self: center;
}

.iconify-inline{
    border-radius: 4px;
    background: #ffffff;
    border: 2px solid;
    line-height: 1;
    padding: 1em 1em;
    transition: 0.25s;
    color: #5da9e9;
    box-shadow:
        0.3em 0.3em 0 0 #ffffff,
        inset 0.3em 0.3em 0 0 #ffffff;
}

.iconify-inline:hover {
    background: #ffffff;
    color: #f38f00;
}
a {
    text-decoration: none;
}

tr:hover {
    color: #e4b314;
}

.span {
    text-transform: uppercase;
    font-size: 1.3em;
    color: #e4b314;
}

.a {
    padding: 0;
    border: none;
    transition: 0s;
}

.back {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin: 50px 0;
}

.offset {
    justify-self: end;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.offset2 {
    justify-self: start;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.container {
    margin: 5% 15%;
    border-radius: 8px;
    padding: 30px 30px 30px 30px;
    border: 1px solid #5da9e9;
    height: auto;
    margin-bottom: 10px;
}

.container-grid {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 35px
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em;
}

.input {
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #ffffff;
    border: 0.5px solid #5da9e9;
    text-align: left;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 20px;
    width: 100px;
    line-height: 1;
    padding: 1em 1em;
    transition: 0.25s;
    color: #5da9e9;
    box-shadow:
        0.3em 0.3em 0 0 #ffffff,
        inset 0.3em 0.3em 0 0 #ffffff;
}

.input:hover,
.input:focus {
    box-shadow:
        0.3em 0.3em 0 0 #fff,
        inset 0.3em 0.3em 0 0 #fff;
    background-color: #5da9e9;
    color: #fff;
}

.income,
.fixed,
.variable {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.774);
    background: #5da9e9;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}

.income {
    grid-column-start: 1;
    grid-column-end: 3;
}

.fixed {
    grid-column-start: 3;
    grid-column-end: 5;
}

.variable {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* js */

.left {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
}

.table {
    display: grid;
    grid-template-columns: auto auto;
}

.c1,
.c2 {
    padding: 0.5em 1em;
    border-bottom: 1px solid #5da9e9;
    border-right: 1px solid #5da9e9;
}

.c1:hover,
.c2:hover {
    color: #003f91;
}

.c3 {
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom-right-radius: 4px;
    padding: 0.5em 1em;
    border-bottom: 1px solid #5da9e9;
    border-right: 1px solid #5da9e9;
    grid-column-start: 1;
    grid-column-end: 5;
}

.tips {
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 30px;
    padding: 0.5em 1em;
}

.tips2 {
    border-top-right-radius: 4px;
    margin: 0 30px;
    border-top: 1px solid #5da9e9;
    border-right: 1px solid #5da9e9;
    padding: 0.5em 1em;
}
.hidden {
    display: none;
}

.back-to-top {
    border-radius: 5px;
    padding: 4px 12px;
    font-size: 1em;
    color: #f8f8f8;
    background-color: #5da9e9;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    box-shadow: none
}

.back-to-top:hover {

    background-color: #e4b314;
    color: #ffffff;
    border: none;
    box-shadow: none
}
.center {
    font-weight: lighter;
}
.button {
    font-size: 1.5em;
    border-radius: 4px;
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    padding: 1.5em;
    box-shadow:
        0.3em 0.3em 0 0 #fff,
        inset 0.3em 0.3em 0 0 #fff;
}
#save {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

#save2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#save3 {
    justify-content: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
}

#save4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
}

#saveSettings {
    text-transform: uppercase;
    color: #fff;
    background-color: #5da9e9;
    padding: 1em 1em;
    border-radius: 5px;
}

/* 
*/
@media (max-width:710px) {
    body {
        margin: 0;
        background: rgb(255, 255, 255);
        font-family: 'Oswald', sans-serif;
    }

    button {
        text-transform: uppercase;
        font-weight: bolder;
        justify-self: center;
        border-radius: 4px;
        background: none;
        border: 2px solid;
        line-height: 1;
        margin: 0.5em 4em;
        padding: 1em 2em;
        color: #5da9e9;
        transition: 0.25s;
    }

    h1 {
        font-size: 2em;
        margin: 30px 30px;
        font-weight: bolder;
    }

    button:hover {
        box-shadow:
            0.3em 0.3em 0 0 #f38f00,
            inset 0.3em 0.3em 0 0 #f38f00;
        background-color: #ffffff;
        color: #f38f00;
    }

    h .form {
        padding: 2em;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .income,
    .fixed,
    .variable {
        margin: 0 4em;
    }
    .container {
        border: none;
        margin: 0;
    }
    .borde{
        border-radius: 0%;
        border-bottom: 0.5px solid #5da9e9;
    }
        
    .container-flex {
        display: flex;
        flex-direction: column;
    }

    .container-grid {
        gap: 20px;
    }

    .c1,
    .c2 {
        padding: 0.5em 1em;
        border: 1px solid #5da9e9;
    }

    .tips {
        margin: 0 20px;
        padding: 0.5em 1em;
    }

    .tips2 {
        margin: 0 20px;
        border-top: 1px solid #5da9e9;
        border-right: 1px solid #5da9e9;
        padding: 0.5em 1em;
    }

    .c3 {
        border-radius: 6px;
        padding: 0.5em 1em;
        border-bottom: 1px solid #5da9e9;
        border-right: 1px solid #5da9e9;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #saveSettings {
        margin: 0 20px;
        color: #fff;
        background-color: #5da9e9;
        padding: 0.5em 1em;
        border-radius: 5px;
    }
}

@media (max-width:450px) {
    body {
        margin: 0;
        background: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        font-family: 'Oswald', sans-serif;
    }

    .form {
        padding-bottom: 1em;
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .income,
    .fixed,
    .variable {
        margin: 0 1em;
        padding: 1em;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
    }

    .container-grid {
        gap: 20px;
    }

    .c1,
    .c2 {
        padding: 0.5em 1em;
    }

    .tips {
        margin: 0;
        padding: 0.5em 1em;
    }

    .tips2 {
        margin: 0;
        padding: 0.5em 1em;
    }

    .c3 {
        padding: 0.5em 1em;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #saveSettings {
        padding: 0.5em 1em;
    }
}