body {
    background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

header,
footer {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    padding: 1em 0;
}

header {
    margin-bottom: 3px;
}

footer {
    margin-top: 3px;
    color: #000000;
}

h1 {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #003F91;
}

h2 {
    text-align: center;
    margin: 0 1em 1.2em 1em;
    text-transform: capitalize;
    padding: 5px;
    background: #FFFFFF;
    color: #5da9e9;
    border-radius: 5px;
}

button {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    border-radius: 4px;
    background: none;
    border: 2px solid;
    line-height: 1;
    padding: 1.1em 1.8em;
    transition: 0.25s;
    margin: 5px;
    box-shadow:
        0.3em 0.3em 0 0 #ffffff,
        inset 0.3em 0.3em 0 0 #ffffff;
    background-color: #ffffff;
    color: #5da9e9;
}

button:hover {
    color: #f38f00;
    box-shadow:
        0.2em 0.2em 0 0 #f38f00,
        inset 0.2em 0.2em 0 0 #f38f00;

}
.hidden {
    display: none;
}

.back-to-top {
    border-radius: 5px;
    padding: 4px 12px;
    font-size: 1em;
    color: #f8f8f8;
    background-color: #5da9e9;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    box-shadow: none
}

.back-to-top:hover {

    background-color: #e4b314;
    color: #ffffff;
    border: none;
    box-shadow: none
}
.iconify-inline{
    border-radius: 4px;
    background: #ffffff;
    border: 2px solid;
    line-height: 1;
    padding: 1em 1em;
    transition: 0.25s;
    color: #5da9e9;
    box-shadow:
        0.3em 0.3em 0 0 #ffffff,
        inset 0.3em 0.3em 0 0 #ffffff;
}

.iconify-inline:hover {
    background: #ffffff;
    color: #f38f00;
}
a {
    text-decoration: none;
}

input {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: start;
}

section {
    border: 1px solid #5da9e9;
    color: #000000;
    border-radius: 8px;
    margin: 0 27%;
    background-color: #ffffff;
    padding: 20px 3em;
}

section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

label {
    font-size: 1.2em;
    color: #5da9e9;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}

span {
    font-size: 1.5em;
    color: #e4b314;
}

.back {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin: 50px 0px;
}

.a {
    padding: 0;
    border: none;
    transition: 0s;
}

#inputprice, #inputdiscount {
    border-radius: 4px;
    border: 2px solid;
    line-height: 1;
    padding: 0.8em 1.8em;
    transition: 0.25s;
    margin-bottom: 5px;
    background: #ffffff;
    color: #5da9e9;
    box-shadow:
    0.3em 0.3em 0 0 #5da9e9,
    inset 0.3em 0.3em 0 0 #5da9e9;
}

#inputprice:hover, #inputdiscount:hover, #inputprice:focus, #inputdiscount:focus {
    background: none;
    color: #f38f00;
    box-shadow:
    0.3em 0.3em 0 0 #f38f00,
    inset 0.3em 0.3em 0 0 #f38f00;
}
#inputcupon {
    text-transform: capitalize;
    border-radius: 4px;
    border: 2px solid;
    line-height: 1;
    padding: 0.8em 1.8em;
    transition: 0.25s;
    margin-bottom: 5px;
    background: #ffffff;
    color: #5da9e9;
    box-shadow:
        0.2em 0.2em 0 0 #ffffff,
        inset 0.2em 0.2em 0 0 #ffffff;
}

#inputcupon:hover, 
#inputcupon:focus {
    box-shadow:
        0.1em 0.1em 0 0 #f38f00,
        inset 0.1em 0.1em 0 0 #f38f00;
    background: none;
    color: #f38f00;
}

#resultf {
    font-weight: bolder;
    display: flex;
    border-radius: 3px;
    padding: 10px;
}

#resultf2 {
    font-weight: bolder;
    display: flex;
    border-radius: 3px;
    padding: 10px;
}

#resultT {
    color: #5da9e9;
    font-size: 80%;
    margin: 0;
    align-self: center;
    text-transform: uppercase;
}

#resultC {
    text-transform: uppercase;
    text-align: center;
    color: #5da9e9;
}

#result {
    color: #e4b314;
    border-radius: 3px;
    padding: 10px 0px 10px 10px;
    margin: 0;
    justify-self: center;
}

#color {
    color: black;
}

@media (max-width: 800px) {
    section {
        margin: 0 7%;
        padding: 20px 3em;
    }
}